In [1]:
import pandas as pd

In [2]:
#Load in tsv files to pandas
basics_df = pd.read_csv('title.basics.tsv.gz', compression='gzip',  sep='\t' , quotechar='"')
ratings_df = pd.read_csv('Resources/title.ratings.tsv.gz', compression='gzip',  sep='\t' , quotechar='"')

C:\Users\nitec\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#Remove unnecessary endYear column
basics_df = basics_df.drop('endYear', axis=1)

In [4]:
#Remove rows in moviedf that aren't movies
movie_df = basics_df.loc[basics_df['titleType'] == 'movie']

In [5]:
#Remove rows with no year 
cleanYear_df = movie_df[movie_df.startYear != '\\N']
#Recast startYear column as integers for sorting purposes
cleanYear_df['startYear'] = cleanYear_df['startYear'].astype(int)
#Remove entries for future movies
cleanYear_df = cleanYear_df.loc[cleanYear_df['startYear'] < 2020]

C:\Users\nitec\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [6]:
#Sort sortYear_df by year released
sortYear_df = cleanYear_df.sort_values(by='startYear', ascending=False)

In [7]:
#Merge the ratings and movie dfs so we only have movies that are rated on imdb
merged_df = pd.merge(ratings_df, sortYear_df)

In [8]:
#Seperate the dfs into movie and rating dfs
finalRating_df = merged_df[['tconst','averageRating','numVotes']]
finalMovie_df = merged_df[['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'startYear', 'genres', 'runtimeMinutes']]

In [9]:
#Rename columns to underscore notation instead of camelcasing 
finalRating_df = finalRating_df.rename(columns={'averageRating': 'average_rating', 'numVotes': 'num_votes'})
finalMovie_df = finalMovie_df.rename(columns={'titleType': 'title_type', 'primaryTitle': 'primary_title', 'originalTitle': 'original_title',\
                                              'startYear': 'start_year', 'runtimeMinutes': 'runtime_minutes'})

In [11]:
finalMovie_df

,tconst,title_type,primary_title,original_title,start_year,genres,runtime_minutes
0,tt0000009,movie,Miss Jerry,Miss Jerry,1894,Romance,45
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,1897,"Documentary,News,Sport",20
2,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,1900,"Biography,Drama",\N
3,tt0000502,movie,Bohemios,Bohemios,1905,\N,100
4,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,"Biography,Crime,Drama",70
...,...,...,...,...,...,...,...
246361,tt9914942,movie,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,Drama,74
246362,tt9915790,movie,Bobbyr Bondhura,Bobbyr Bondhura,2019,Family,\N
246363,tt9916160,movie,Drømmeland,Drømmeland,2019,Documentary,72
246364,tt9916428,movie,The Secret of China,The Secret of China,2019,"Adventure,History,War",\N
246365,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,Drama,123

In [10]:
finalRating_df.to_csv('ratings.csv', sep=',', encoding='utf-8', index=False)
finalMovie_df.to_csv('movies.csv', sep=',', encoding='utf-8', index=False)