In [12]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [13]:
base_url = 'https://www.en.wikipedia.org'

url = 'https://en.wikipedia.org/wiki/List_of_fiction_works_made_into_feature_films_(D%E2%80%93J)'
page = requests.get(url)
soup = BeautifulSoup(page.text, "lxml")

In [14]:
my_tables = soup.find_all('table',{'class':'wikitable'})

In [15]:
book_titles = []
movie_titles = []

for table in my_tables:
    rows = table.find_all('tr')
    
    for row in rows:
        cells = row.find_all('td')
        
        
        if len(cells) > 1:
            book_title = cells[0]
            book_titles.append(book_title.text.strip())
            
            movie_title = cells[1]
            movie_titles.append(movie_title.text.strip())

In [18]:
df1 = pd.DataFrame({'Book Titles': book_titles,
                    'Movie Titles': movie_titles})
df1.head()

                             Book Titles              Movie Titles
0    The Da Vinci Code (2003), Dan Brown  The Da Vinci Code (2006)
1            Dad (1981), William Wharton                Dad (1989)
2          Damage (1991), Josephine Hart             Damage (1992)
3  Damnation Alley (1967), Roger Zelazny    Damnation Alley (1977)
4     The Damned Utd (2006), David Peace  The Damned United (2009)

In [17]:
df1.to_csv('titles_d_j', sep=',', encoding='utf-8', index=False)