In [28]:
import pandas as pd
from sqlalchemy import create_engine

In [29]:
#Load in cleaned data from csvs
movie_df = pd.read_csv("Resources/movies.csv")
ratings_df = pd.read_csv("Resources/ratings.csv")
wiki_df = pd.read_csv("Resources/Full_A_Z.csv")
books_df = pd.read_csv("Resources/cleanBooks.csv")

In [30]:
#Establish connection with pgAdmin
rds_connection_string = "postgres:postgres@localhost:5432/books_movies_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [31]:
#Load in data from pandas to pgAdmin, replace if necessary
if_exists_param = 'replace'
movie_df.to_sql(name='movies', con=engine, if_exists=if_exists_param, index=False)
ratings_df.to_sql(name='ratings', con=engine, if_exists=if_exists_param, index=False)
wiki_df.to_sql(name='wiki', con=engine, if_exists=if_exists_param, index=False)
books_df.to_sql(name='books', con=engine, if_exists=if_exists_param, index=False)

In [23]:
books_df.head(2)

,book_id,title,authors,average_rating,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,2153167,29221,9/1/2004,Scholastic Inc.

In [22]:
movie_df.h

,tconst,title_type,primary_title,original_title,start_year,genres,runtime_minutes
0,tt0000009,movie,Miss Jerry,Miss Jerry,1894,Romance,45
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,1897,"Documentary,News,Sport",20

In [20]:
ratings_df.head(2)

      tconst  average_rating  num_votes
0  tt0000009             5.9        153
1  tt0000147             5.2        343

In [19]:
wiki_df.head(2)

                                         movie_title            book_title
0  The Biscuit Eater (1940)  The Biscuit Eater (1...  "The Biscuit Eater"
1  Salem's Lot (1979) (TV)* A Return to Salem's L...         'Salem's Lot