In [37]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [38]:
base_url = 'https://www.en.wikipedia.org'

url = 'https://en.wikipedia.org/wiki/List_of_fiction_works_made_into_feature_films_(0%E2%80%939,_A%E2%80%93C)'
page = requests.get(url)
soup = BeautifulSoup(page.text, "lxml")

In [39]:
my_tables = soup.find_all('table',{'class':'wikitable'})

In [40]:
book_titles = []
movie_titles = []

for table in my_tables:
    rows = table.find_all('tr')
    
    for row in rows:
        cells = row.find_all('td')
        
        
        if len(cells) > 1:
            book_title = cells[0]
            book_titles.append(book_title.text.strip())
            
            movie_title = cells[1]
            movie_titles.append(movie_title.text.strip())

In [48]:
df1 = pd.DataFrame({'Book Titles': book_titles,
                    'Movie Titles': movie_titles})
df1.head()

,Book Titles,Movie Titles
0,"The A.B.C. Murders (1936), Agatha Christie",The Alphabet Murders (1966)The A.B.C. Murders ...
1,"À ton image (1998), Louise L. Lambrichs",À ton image (2004)
2,"De Aanslag (The Assault) (1982), Harry Mulisch",The Assault (1986)
3,"About a Boy (1998), Nick Hornby",About a Boy (2002)
4,"About Schmidt (1996), Louis Begley",About Schmidt (2002)

In [47]:
df1.to_csv('titles_a_c', sep=',', encoding='utf-8', index=False)