In [1]:
import pandas as pd
import glob

In [2]:
path = r'C:\Users\nitec\Desktop\Data_Science_Bootcamp\Project2_Books_vs_Movies\Unit-13-Books-vs-Movies\mvp\data'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [3]:
full_df = frame.sort_values('Book Titles', ascending=True).reset_index()
full_df = full_df.drop('index', axis=1)
full_df.head()

,Book Titles,Movie Titles
0,"""The Biscuit Eater"" (1939), James H. Street",The Biscuit Eater (1940) The Biscuit Eater (1...
1,"'Salem's Lot (1975), Stephen King",Salem's Lot (1979) (TV)* A Return to Salem's L...
2,"A Captive in the Land (1962), James Aldridge",A Captive in the Land (1990)
3,"A Case of Need (1968), Michael Crichton (as Je...",The Carey Treatment (1972)
4,"A Certain Mr. Takahashi (1985), Ann Ireland",The Pianist (1991)

In [4]:
full_df.shape

(1637, 2)

In [5]:
new = full_df['Book Titles'].str.split("(", n = 1, expand = True)
full_df['Book Title']= new[0]
full_df = full_df.rename(columns={'Movie Titles': 'movie_title', 'Book Title': 'book_title'})

full_df = full_df.drop('Book Titles', axis=1)

In [7]:
full_df['book_title'] = full_df['book_title'].str.rstrip()

In [9]:
full_df['book_title'][2]

'A Captive in the Land'

In [10]:
full_df.to_csv('Full_A_Z.csv', sep=',', encoding='utf-8', index=False)