In [1]:
import pandas as pd

In [2]:
#Load in tsv files to pandas
basics_df = pd.read_csv('title.basics.tsv.gz', compression='gzip',  sep='\t' , quotechar='"')
ratings_df = pd.read_csv('../../Resources/title.ratings.tsv.gz', compression='gzip',  sep='\t' , quotechar='"')

C:\Users\nitec\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#Remove unnecessary endYear column
basics_df = basics_df.drop('endYear', axis=1)

In [4]:
#Remove rows in moviedf that aren't movies
movie_df = basics_df.loc[basics_df['titleType'] == 'movie']

In [5]:
#Remove rows with no year 
cleanYear_df = movie_df[movie_df.startYear != '\\N']
#Recast startYear column as integers for sorting purposes
cleanYear_df['startYear'] = cleanYear_df['startYear'].astype(int)
#Remove entries for future movies
cleanYear_df = cleanYear_df.loc[cleanYear_df['startYear'] < 2020]

C:\Users\nitec\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [6]:
#Sort sortYear_df by year released
sortYear_df = cleanYear_df.sort_values(by='startYear', ascending=False)

In [9]:
#Merge the ratings and movie dfs so we only have movies that are rated on imdb
merged_df = pd.merge(ratings_df, sortYear_df)

In [10]:
#Seperate the dfs into movie and rating dfs
finalRating_df = merged_df[['tconst','averageRating','numVotes']]
finalMovie_df = merged_df[['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'startYear', 'genres', 'runtimeMinutes']]

In [11]:
finalRating_df

           tconst  averageRating  numVotes
0       tt0000009            5.9       153
1       tt0000147            5.2       343
2       tt0000335            6.1        40
3       tt0000502            4.4         5
4       tt0000574            6.1       570
...           ...            ...       ...
246361  tt9914942            6.8        79
246362  tt9915790            7.6        14
246363  tt9916160            6.6        36
246364  tt9916428            3.3        11
246365  tt9916538            8.4         5

[246366 rows x 3 columns]