In [1]:
import pandas as pd

In [14]:
#Load in tsv files to pandas
basics_df = pd.read_csv('title.basics.tsv.gz', compression='gzip',  sep='\t' , quotechar='"')
ratings_df = pd.read_csv('../../Resources/title.ratings.tsv.gz', compression='gzip',  sep='\t' , quotechar='"')

In [3]:
#Remove unnecessary endYear column
basics_df = basics_df.drop('endYear', axis=1)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
6762837,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
6762838,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
6762839,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
6762840,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
6762841,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Animation,Comedy,Family"

In [4]:
#Remove rows in moviedf that aren't movies
movie_df = basics_df.loc[basicsdf['titleType'] == 'movie']

In [7]:
#Remove rows with no year 
cleanYear_df = movie_df[movie_df.startYear != '\\N']
#Recast startYear column as integers for sorting purposes
cleanYear_df['startYear'] = cleanYear_df['startYear'].astype(int)
#Remove entries for future movies
cleanYear_df = cleanYear_df.loc[cleanYear_df['startYear'] < 2020]

C:\Users\nitec\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
#Sort sortYear_df by year released
sortYear_df = cleanYear_df.sort_values(by='startYear', ascending=False)

In [16]:
sortYear_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
1332093,tt10636632,movie,Buro Sadhu,Buro Sadhu,0,2019,96,Drama
6685790,tt9755024,movie,Bigfoot!,Bigfoot!,0,2019,85,"Comedy,Horror"
6302785,tt8947548,movie,Educación Rural,Educación Rural,0,2019,66,Documentary
1923591,tt11667852,movie,Her 40th,Her 40th,0,2019,98,Drama
1317510,tt10611372,movie,My Mom is a Character 3,Minha Mãe é uma Peça 3: O Filme,0,2019,111,Comedy
...,...,...,...,...,...,...,...,...
304528,tt0317652,movie,Highland Cross Sword Dance,Highland Cross Sword Dance,0,1898,\N,\N
228189,tt0237861,movie,Tub Race,Tub Race,0,1898,\N,\N
220296,tt0229676,movie,Reproduction of the Corbett and Fitzsimmons Fight,Reproduction of the Corbett and Fitzsimmons Fight,0,1897,\N,"Documentary,News,Sport"
145,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,20,"Documentary,News,Sport"
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,45,Romance

In [15]:
ratings_df

            tconst  averageRating  numVotes
0        tt0000001            5.6      1610
1        tt0000002            6.0       198
2        tt0000003            6.5      1288
3        tt0000004            6.1       121
4        tt0000005            6.1      2056
...            ...            ...       ...
1033871  tt9916576            6.0         9
1033872  tt9916578            8.4        17
1033873  tt9916720            5.6        50
1033874  tt9916766            6.8        13
1033875  tt9916778            7.2        21

[1033876 rows x 3 columns]

In [25]:
merged_df = pd.merge(ratings_df, sortYear_df)

In [26]:
merged_df

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
0,tt0000009,5.9,153,movie,Miss Jerry,Miss Jerry,0,1894,45,Romance
1,tt0000147,5.2,343,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,20,"Documentary,News,Sport"
2,tt0000335,6.1,40,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900,\N,"Biography,Drama"
3,tt0000502,4.4,5,movie,Bohemios,Bohemios,0,1905,100,\N
4,tt0000574,6.1,570,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70,"Biography,Crime,Drama"
...,...,...,...,...,...,...,...,...,...,...
246361,tt9914942,6.8,79,movie,La vida sense la Sara Amat,La vida sense la Sara Amat,0,2019,74,Drama
246362,tt9915790,7.6,14,movie,Bobbyr Bondhura,Bobbyr Bondhura,0,2019,\N,Family
246363,tt9916160,6.6,36,movie,Drømmeland,Drømmeland,0,2019,72,Documentary
246364,tt9916428,3.3,11,movie,The Secret of China,The Secret of China,0,2019,\N,"Adventure,History,War"
246365,tt9916538,8.4,5,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,123,Drama

In [33]:
finalRating_df = merged_df[['tconst','averageRating','numVotes']]
finalMovie_df = merged_df[['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'startYear', 'genres', 'runtimeMinutes']]